<section class="main-banner display--flex">
  <div class="text-banner">
    <h1>Somos Asociación JVC</h1>
    <h3>
      Hemos contribuido con más de 100 mil personas a lo largo de todo el Perú
    </h3>
  </div>
  <button class="learn-more-button">Conoce más</button>
  <div class="capa"></div>
</section>

<section class="history">
  <div class="text-history">
    <h2>Nuestra historia</h2>
    <p>
      Prisma es una ONG peruana que diseña y ejecuta investigaciones y proyectos
      innovadores que potencian las capacidades y mejoran el acceso a
      oportunidades de personas vulnerables, contribuyendo al logro de una
      sociedad más inclusiva y al desarrollo sostenible.
      <br />
      Prisma inicia su labor en 1986, por la voluntad de un grupo de
      profesionales multidisciplinarios, motivados por revertir los altos
      índices de desnutrición crónica infantil en el Perú y los factores de
      riesgo asociados a esta.
    </p>
  </div>

  <img src="assets/event-five.jpg" alt="" class="imagen-history" />
</section>

<section class="mision-vision">
  <div>
    
  </div>
</section>
