.container-notice {
  display: flex;
  
  img {
    width: 580px;
    height: 600px;
  }
}

.container-text {
  margin-inline: 30px;
  margin-top: 40px;
  h2 {
    color: var(--primary-color);
    font-size: 37px;
  }
  p{
    margin-top: 20px;
    font-size: 23px;
  }
  img{
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 30px;
  }
}

.container-images{
  display: flex;
  align-items: center;
  background-color: black;
  
  .left, .right{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-inline: 17px;
  }
}

.text-notice{
  margin-top: 30px;
}


.icon-close {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute; 
  right: 0; 
}
