<div *ngFor="let notice of info" class="container-notice">
  <div class="container-images">
    <img
      src="assets/arrow.png"
      alt=""
      class="left"
      (click)="navigate('left', notice)"
    />
    <img [src]="getCurrentImage(notice)" alt="image-notice" />
    <img
      src="assets/right-arrow.png"
      alt=""
      class="right"
      (click)="navigate('right', notice)"
    />
  </div>

  <div class="container-text">
    <img src="assets/close-right.png" alt="icon close" class="icon-close" (click)="closeModal()" />
    <div class="text-notice">
      <h2>{{ notice.title }}</h2>
      <p>{{ notice.resumen }}</p>
    </div>
  </div>
</div>
