/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  --primary-color: #2e338c;
  --secondary-color: #fafeff;
  --third-color: #4eb1d9;
  --color-selection: #e9c62c;
  --white: #fff;
  --rgb-hover-box: rgba(145, 145, 145, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  background-color: var(--secondary-color);
}

//lines-table
.td-one {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.td-two {
  border-bottom: 1px solid black;
}
.td-three {
  border-right: 1px solid black;
}

.text-table {
  font-size: 1.35em;
  padding-bottom: 12px;
}
